table {
    width: 100%;
  }

.kardex{
    background-color: #f5f5f5;
  }

.classifier{
  padding-top: 30px;
  padding-left: 15px;

}

.promedio{
  padding-top: 30px;
  padding-bottom: 5px;
  color: #2b2121;
}

.content-card {
  margin: 8px;
}
