%dashboard-card {
  max-width: 300px;
  text-align: center;
  display: flex;
  margin-top: 15px
}

.major {
  @extend %dashboard-card;
}

.user {
  @extend %dashboard-card;
  background-color: #efebf7;
}

.faculty-name {
  color: black;
}
