<div align="center">
  <mat-card class="user">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>person</mat-icon>
      </mat-card-title>
      <mat-card-title *ngIf="user">{{ user.student_fullName }}</mat-card-title>
      <mat-card-subtitle *ngIf="user">{{ user.student_id | slice:1 }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>

<div align="center" *ngFor="let major of majors">
  <mat-card class="major">
    <mat-card-header>
      <mat-card-subtitle>{{ major.major_name }}</mat-card-subtitle>
      <mat-card-subtitle class="faculty-name">{{ major.faculty_name }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
