<mat-card class="horario">
  <mat-card-title>Horario</mat-card-title>
</mat-card>

<mat-list>
  <!--h3 mat-subheader>Sábado</h3-->
  <mat-list-item *ngFor="let item of schedule">
    <mat-icon mat-list-icon [style.color]="getColor(item)">brightness_1</mat-icon>
    <h4 mat-line>{{ item.subject_name }}</h4>
    <p mat-line> {{ item.salon_id }} </p>
    <button mat-stroked-button color="primary" class="button">{{ item.hour }}:00</button>
    <button mat-stroked-button color="primary"class="button">{{ item.hour + item.duration }}:00</button>
  </mat-list-item>
  <!--mat-divider></mat-divider-->

</mat-list>
