<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">

  <mat-card class="login-card" fxFlex.gt-sm="30%">
    <img mat-card-image class="login-logo" src="assets/img/logo_uach.png" />

    <mat-card-header>
      <mat-card-title>Inicio de sesión</mat-card-title>
      <mat-card-subtitle>Universidad Autónoma de Chihuahua</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="login-form">
        <mat-form-field class="login-input">
          <input type="text" name="user" matInput placeholder="Usuario" [(ngModel)]="user">
        </mat-form-field>

        <mat-form-field class="login-input">
          <input type="password" name="password" matInput placeholder="Contraseña" [(ngModel)]="password">
        </mat-form-field>

        <mat-card-actions>
          <button type="submit" mat-stroked-button (click)="onLogin()" color="primary">Iniciar sesión</button>
        </mat-card-actions>

      </form>
    </mat-card-content>

  </mat-card>
</div>
